<?xml version="1.0" encoding="EUC-KR"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendar">

	<!-- 해당 커플이 등록한 일정 조회 -->
	<select id="getCalendarList" resultType="cldDto" parameterType="int">
		SELECT *
		FROM CALENDAR
		WHERE USER_COUPLENUM = #{user_couplenum}
	</select>

	<select id="getCalendarDetailInfo" parameterType="int" resultType="cldDto">
		SELECT CIDX, USER_CUPLENUM, CTITLE, '20' || REPLACE(CSTARTDAY, '/', '-') AS CSTARTDAY, '20' || REPLACE(CENDDAY, '/', '-') AS CENDDAY, CLOCAL, CCONTENT, CCOLOR
		FROM CALENDAR
		WHERE CIDX = #{cidx}
	</select>

	<!-- cColor #{cColor로 변경함} 0716 김성경 -->
	<insert id="insertCalendar" parameterType="cldDto">
		INSERT INTO CALENDAR VALUES(CALENDAR_SEQ.NEXTVAL, #{cTitle}, to_date(#{cStartDay}, 'YYYY-MM-DD'), to_date(#{cEndDay}, 'YYYY-MM-DD'), #{cLocal}, #{cContent},#{cColor}, '중요', 1)
	</insert>	
	
	<!-- update 0717 form 에서 받은 정보들로 update -->
	<update id="updateCalendar" parameterType="cldDto">
	update calendar set ctitle=#{cTitle},clocal=#{cLocal},cstartday=#{cStartDay}, 
	cendday=#{cEndDay},ccontent=#{cContent},ccolor=#{cColor} where cidx=#{cidx}
	</update>
	
	<!-- delete 0717 form 에서 받은 정보들로 cidx 값 받아서 delete -->
	<delete id="deleteCalendar" parameterType="int">
	delete from calendar where cidx=#{cidx}
	</delete>
</mapper>