<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="cs">
 	<!-- 1:1문의남긴거 저장 -->
 	<insert id="sendAsk" parameterType="csDTO">
 		insert into cs(cs_num,user_id, cs_type, cs_title, cs_content) 
 		values(cs_seq.nextVal,#{user_id},#{cs_type},#{cs_title},#{cs_content})
 	</insert>
 	
 </mapper>