<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="map">
 	
	<!--
		07-16 gun
		지도에 마커 생성
	-->
 	<insert id="markermake" parameterType="markerDto">
 		INSERT INTO MARKER
 		VALUES(MARKER_SEQ.NEXTVAL, #{marker_mnum}, #{marker_title}, #{marker_content}, #{marker_picturename}, #{marker_lat}, #{marker_lon}, #{marker_addr}, #{marker_date})
 	</insert>
 	
 	<!--
		07-16 gun
		지도에 생성되어 있는 마커 삭제
	-->
 	<delete id="delMarker" parameterType="int">
 		DELETE FROM MARKER
 		WHERE MARKER_NUM = #{marker_num}
 	</delete>
 	
 	<!--
		07-16 gun
		생성되어 있는 마커에 들어갈 상세정보 조회
	-->
 	<select id="mapform" parameterType="int" resultType="markerDto">
 		SELECT MARKER_NUM, MARKER_TITLE, MARKER_CONTENT, MARKER_PICTURE AS MARKER_PICTURENAME, MARKER_LAT, MARKER_LON, MARKER_ADDRESS, TO_CHAR(MARKER_DATE, 'YYYY-MM-DD') AS MARKER_DATE
 		FROM MARKER
 		WHERE MARKER_MNUM = #{map_num}
 		ORDER BY 1 ASC
 	</select>
 	
 </mapper>